*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  
}
body{
  background-color: rgb(245, 167, 71);
}
.insert{
  position: absolute;
  top:13vh;
  width: 100%;
  padding: 1vh 1vw;
  background-color: rgb(184, 243, 184);
}  
.insert1{
  position: absolute;
  top:13vh;
  left:0px;
  width: 100%;
  padding: 5px 10px;
  background-color: rgb(248, 96, 76);
}
table {
  border-collapse:separate;
  border:solid rgb(29, 28, 28) 4px;
  border-radius:20px;
  -moz-border-radius:20px;
  width:90vw;
  height:20vh;
  background-color: burlywood;
}

td, th {
  border-left:solid black 2px;
  border-top:solid black 2px;
  text-align: center;
  font-size: 25px;
  box-shadow: 4px 6px 8px black;
}

th {
  border-top: none;
}
td:first-child, th:first-child {
  border-left: none;
}
.btn1{
   margin-top: 2.5vh;
   margin-left: -10vw;
   padding: 1vh 8vw;
   position: absolute;   
   display: inline-block;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #eb8a3c;
   border: none;
   border-radius: 50px;
   box-shadow: 0 9px rgb(170, 99, 6);
}
.btn{
   margin-top: 0vh;
   margin-left: 32vw;
   margin-bottom: 2vh;      
   padding: 1vh 8vw;
   display: inline-block;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #eb8a3c;
   border: none;
   border-radius: 50px;
   box-shadow: 0 9px rgb(170, 99, 6);
}
.btn2{
   margin-left: 4vw; 
   padding: 1vh 8vw;
   display: inline-block;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #eb8a3c;
   border: none;
   border-radius: 50px;
   box-shadow: 0 9px rgb(170, 99, 6);
}
.btn:hover,.btn1:hover,.btn2:hover{
  background-color:rgb(30, 8, 92);
  box-shadow: 6px 10px 8px black;
 }
 #bt{
  margin-left: 15vw;
 }
 .tb{
    margin-left: 5vw;
    margin-top: 10vh;
   
 }
 
 .cbox{  
    
  padding: 8vh 8vw;
  width: 50vw;
  border-radius: 8px;
  margin-left: 21vw;
  text-align: center;
  color:blanchedalmond;
  background-color: rgb(30, 8, 92);
  margin-top: 5vh;
  position: relative;
  animation:mymoves 2s forwards;
  box-shadow: 6px 8px 10px black;
 }
 @keyframes mymoves{
  0%{
    transform: scale(0.5,0.5);
  }
  50%{
    transform: scale(1.3,1.3);
  }
  100%{
    transform: scale(1.3,1.3);
  }
 }
 .norows{
   border:2px solid black;
   width:20vw;
   height:40vh;
   margin-left:40vw;
   margin-top:15vh;
   padding-top: 12vh;
   text-align: center;
   font-size: 2vw;
   font-weight: bold;
   border-radius: 15px;
   box-shadow: 4px 8px 12px black;
   background-color: #CBCE91FF;
   animation:norow 1s forwards;
 }
 @keyframes norow{
  from {
    opacity: 0;
    transform: translateY(100%);
}
to { opacity: 1 }
}