*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  
}
body{
  background-color: rgb(245, 167, 71);
}
.insert{
  position: absolute;
  top:13vh;
  left:0px;
  width: 100%;
  padding: 5px 10px;
  background-color: rgb(184, 243, 184);;
}
.insert1{
  position: absolute;
  top:13vh;
  left:0px;
  width: 100%;
  padding: 5px 10px;
  background-color: rgb(184, 243, 184);;
}
.tb table {
  border-collapse:separate;
  border:solid rgb(29, 28, 28) 4px;
  border-radius:20px;
  -moz-border-radius:20px;
  width:90vw;
  height:20vh;
  background-color: burlywood;
}

.tb td, th {
  border-left:solid black 2px;
  border-top:solid black 2px;
  text-align: center;
  font-size: 25px;
  box-shadow: 4px 6px 8px black;
}

.tb th {
  border-top: none;
}
.tb td:first-child, th:first-child {
  border-left: none;
}
.bt1{
  margin-left: 12.5vw;
  
}
.btn1{
   margin-top: 2.5vh;
   margin-left: -5vw;
   padding: 1vh 8vw;
   position: absolute;   
   display: inline-block;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #eb8a3c;
   border: none;
   border-radius: 50px;
   box-shadow: 0 9px rgb(170, 99, 6);
 
}
.btn{
   margin-top: 0vh;
   margin-left: 39vw;
   margin-bottom: 2vh;      
   padding: 1vh 8vw;
   display: inline-block;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #eb8a3c;
   border: none;
   border-radius: 50px;
   box-shadow: 0 9px rgb(170, 99, 6);
}
.btn2{
   margin-left: 7vw; 
   padding: 1vh 8vw;
   display: inline-block;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #eb8a3c;
   border: none;
   border-radius: 50px;
   box-shadow: 0 9px rgb(170, 99, 6);
}
.btn:hover,.btn1:hover,.btn2:hover{
  background-color:rgb(30, 8, 92);
  box-shadow: 6px 10px 8px black;
 }
 #bt{
  margin-left: 18vw;
 }
 .tb{
    margin-left: 5vw;
    margin-top: 10vh;
   
 }
 
 .cbox{  
    
  padding: 3vh 3vw;
  width: 50vw;
  border-radius: 8px;
  font-size: 20px;
  margin-left: 19vw;
  text-align: center;
  color:blanchedalmond;
  background-color: rgb(30, 8, 92);
  margin-top: 7vh;
  position: relative;
  animation:mymoves 2s forwards;
  box-shadow: 6px 8px 10px black
}
 @keyframes mymoves{
  0%{
    transform: scale(0.5,0.5);
  }
  50%{
    transform: scale(1.3,1.3);
  }
  100%{
    transform: scale(1.3,1.3);
  }
 }
 .cbox td{
   text-align:left;
   padding-left:10px;
 }
 .cbox table{
   margin-left:7vw;
 }
 .norows{
   border:2px solid black;
   width:20vw;
   height:40vh;
   margin-left:40vw;
   margin-top:15vh;
   padding-top: 12vh;
   text-align: center;
   font-size: 2vw;
   font-weight: bold;
   border-radius: 15px;
   box-shadow: 4px 8px 12px black;
   background-color: #CBCE91FF;
   animation:norow 1s forwards;
 }
 @keyframes norow{
  from {
    opacity: 0;
    transform: translateY(100%);
}
to { opacity: 1 }
}
.dbox{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.7);
  position:absolute;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
display: none;
}
.dbox2{
  width:35vw;
  height:45vh;
  background-color: #CBCE91FF;
  border-radius: 4px;
  text-align: center;
  padding:4vh 2vw;
  position: relative;
  border-radius: 15px;
  
}
.close{
  position: absolute;
  top:0;
  right: 2vw;
  font-size: 7vh;
  transform:rotate(45deg);
  cursor: pointer;
}
.inp{
  margin-top:3vh;
  height: 22vh;
  width: 22vw;
  border-radius: 4px;;
}
.imp{
  width: 8vw;
  height: 4vh;
  font-size: 20px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #eb8a3c;
   border: none;
   border-radius: 50px;
   box-shadow: 0 9px rgb(170, 99, 6);
}
.imp:hover{
  background-color:rgb(30, 8, 92);
  box-shadow: 2px 2px 2px rgb(30, 8, 92);
 }