*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    
  } 
body {
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
    background-color: rgb(245, 167, 71);
}

.student-profile .card {
    border-radius: 40px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}
.rt-heading{
    text-align:center;
    font-size: 6vh;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: none;
  }
#divid h2{
  text-align:center;
  font-size:9vh;
  font-weight: bold;
  color:rgb(15, 15, 15);
  position: absolute;
  color: rgb(26, 24, 24);
  left: 11vw;
  top:0.5vh;
  font-family: 'Times New Roman', Times, red serif;
  text-shadow: 3px 3px 3px#ebd82e;
}