*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    
  }
  body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color:rgb(245, 167, 71);
  
  }
  
  h1{
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      
  }
  
 #form{
  padding: 45px 400px;
  font-size: 1.5rem;
  border-radius: 50px;
  color: #171817;
 }
 #form h1{
      padding: 0px 0px;
      margin-bottom:60px;
      margin-left: 100px;
      width:500px;
      text-align: center;
      color: rgb(15, 15, 15);
      font-size: 40px;
      font-weight: bold;
 }
 input[type=text] {
    width: 600px;
    box-sizing: border-box;
    background-color: rgb(231, 238, 171);
    border: 2px solid black;
    
    margin-left: 80px;
  }
  input[type=time]{
    width: 600px;
    box-sizing: border-box;
    background-color: rgb(231, 238, 171);
    border: 2px solid black;
    
    margin-left: 80px;
  }
  input[type=date]{
    width: 600px;
    box-sizing: border-box;
    background-color: rgb(231, 238, 171);
    border: 2px solid black;
    
    margin-left: 80px;
  }
  textarea {
    width: 600px;
    background-color: rgb(231, 238, 171);
    border: 2px solid black;
    margin-left: 80px;
   }
 input[type=submit] {
    width: 600px;
    background-color:#CBCE91FF;
    color: rgb(20, 19, 19);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    border: 3px solid black;
    margin-left: 80px;
  }
  input[type=submit]:hover{
    background-color: black;
    color:white;
  }
 #com{
    display: block;
    margin-left: 80px;
 }
 .reg{
    text-align: center;
    padding: 12px 200px;
    border-radius: 50px;
    
 }
 .room{
   text-align: center;
   padding: 12px 200px;
   border-radius: 50px;
 }
 
 #cbox{
    border-radius: 30px;
    text-align: center;
    padding: 13px 100px;
 
 }
 .insert{
  position: absolute;
  top:13vh;
  width: 100%;
  padding: 1vh 1vw;
  background-color: rgb(184, 243, 184);
}  
.insert1{
 position: absolute;
 top:-7vh;
 width: 100%;
 padding: 1vh 1vw;
 background-color: rgb(184, 243, 184);
}
.first{
  font-size: 1vw;
  color:black;
  text-align:center;
}